*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #eaeaea66;
}

.container
{
    margin-top: 5rem;
    clear: both;
    width: 100%;
    height: auto;
    padding: 3rem;
}

h3
{
    font-size: 3rem;
    margin-top: 3rem;
    font-weight: 900;
    letter-spacing: 1px;
}

h5 a 
{
    font-size: 32px;
    color: red;

}

.border
{
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    width: 150px;
}

.border1 
{
    border-left: 5px solid red;
    width: 150px;
    text-align: center;
    padding: 15px;
    background: rgb(235, 235, 235);
}

.border2
{
    border-right: 5px solid red;
    width: 150px;
    padding: 15px;
    text-align: center;
    background-color: antiquewhite;
}


.p-border
{
    width: 150px;
    background-color: aqua;
    padding: 15px;
    text-align: center;
}


.one
{
    border-radius: 10px;
}

.two
{
    border-radius: 12px 3px;
}

.three
{
    border-radius: 0px 10px 0px 10px;
}

.polygon
{
    background-color: orangered;
    color: white;
    clip-path: polygon(90% 0, 100% 34%, 100% 100%, 10% 100%, 0 66%, 0 0);
}

.polygon1
{
    background-color: orangered;
    color: white;
    clip-path: polygon(0 0, 100% 0%, 82% 100%, 0% 100%);
}

.polygon2
{
    background-color: orangered;
    color: white;
    clip-path:polygon(0 0, 100% 0%, 100% 100%, 18% 100%);
}

.polygon3
{
    background-color: orangered;
    color: white;
    clip-path:polygon(96% 0, 100% 36%, 100% 100%, 4% 100%, 0 66%, 0 0);
}

.margin
{
    margin: 20px 2px 2px 10px;
    float: left;
    background-color: rgb(169, 168, 170);
    width: 250px;
    height: 150px;
    padding: 5px;
    
}


.height
{
    height: 300px;
    max-width: 900px;
    text-align: center;
    align-self: center;
    background-color: rgb(137, 137, 137);
    padding-top: 8rem;
    margin-top: 4rem;
}

.height1
{
    height: 300px;
    width: 900px;
    text-align: center;
    align-self: center;
    background-color: rgb(137, 137, 137);
    padding-top: 8rem;
    margin-top: 4rem;
}

.height2
{
    height: 300px;
    min-width: 900px;
    text-align: center;
    align-self: center;
    background-color: rgb(137, 137, 137);
    padding-top: 8rem;
    margin-top: 4rem;
}

h5
{
    font-size: large;
    color: red;
}

.indent
{
    text-indent: 100px;
}


.letter
{
    letter-spacing: 3px;
}

.word
{
    word-spacing: 5px;
}

.line-height
{
    line-height: 39px;
}

.white-space
{
    white-space: 11px;
}

.shadow
{
    text-shadow: 2px 2px 5px red;
}

.shadow1
{
    text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}


#public
{
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 3rem;
}

#public td, #public th
{
    padding: 15px;
    border: 1px solid #ddd;
}

#public tr:nth-child(even)
{
    background-color: #f2f2f2;
}

#public tr:hover, tr:active
{
    background: #ddd;
}

#public th 
{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #afafaf;

}


.sticky
{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 15px;
    background-color: rgba(226, 226, 226, 0.73);
    backdrop-filter: blur(3px);
    margin: -3rem;
}

.checkbox
{
    font-size:1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type=checkbox] 
{
    accent-color: red;
}


input[type=radio]
{
    accent-color: red;
}

input[type=range]
{
    accent-color: red;
}


progress
{
    accent-color: red;
}





/*--------------- CSS Align Style------------- */



.align
{
    width: 50%;
    height: 350px;
    display: flex;
    border: 1px solid rgb(145, 145, 145);
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
    align-content: center;
}


.box 
{
    width: 100%;
    height: 80px;
    text-align: center;
    padding: 28px;
    color: #f2f2f2;
    font-size: 1.5rem;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.align2
{
    align-content: stretch;
}

.align3
{
    align-content: flex-start;
}

.align4
{
    align-content: flex-end;
}

.align5
{
    align-content: space-between;
}

.align6
{
    align-content: space-around;
}

.align7
{
    align-content: space-evenly;
}

.align5
{
    align-content: flex-start;
}




/* Align Items */

.items 
{
    width: 50%;
    height: 300px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    /* align-items: stretch; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: baseline; */
}

.box1
{
    /* flex: 1;
    border: 1px solid black;
    display: flex;
    align-items: center; */
    width: 34%;
    border: 1px solid black;
    padding: 2rem;
    background-color: #afafaf;
}

.box2
{
    /* flex: 1;
    border: 1px solid black;
    display: flex;
    align-items: center; */
    width: 33%;
    border: 1px solid black;
    padding: 2rem;
    background-color: #ddd;
}


.box3
{
    /* flex: 1;
    border: 1px solid black;
    display: flex;
    align-items: center; */
    width: 33%;
    border: 1px solid black;
    padding: 2rem;
    /* align-items: center; */
}

.self 
{
    width: 50%;
    height: 300px;
    border: 2px solid red;
    display: flex;
    align-items: center;
}

.box4
{
    height:50px;
    background: red;
    width: 30%;
    /* align-self: stretch; */
    /* align-self: flex-start; */
    /* align-self: flex-end; */
    /* align-self: baseline; */
    align-self: center;
    margin-left: 3rem;
}

/* Create Animation */


.anim
{
    width: 100%;
    height: 400px;
}

.box5
{
    width: 100%;
    height: 20px;
    background-color: white;
    position: relative;
    animation: lastmove 5s infinite;
    border-radius: 5px 0;
}

@keyframes move {
    from{left: 0px;}
    to{left: 70%;}
}

@keyframes othermove {
    from{top: 0px;}
    to{top: 400px;}
}

@keyframes lastmove {
    from
    {
        top: 0px;
        background-color: #afafaf;
    
    }
    to
    {
        top: 380px;
        background-color: #f2f2f2;
    }


}



/* Aspect Ratio */

.aspect
{
    position: relative;
    height: 250px;
    width: 90%;
    background-color: #ddd;
    padding: 10px;
}

.box6 
{
    padding: 70px;
    position: absolute;
    background-color: #ff0000;
    color: white;
    font-size: 1.4rem;
    aspect-ratio: 1/1;
    align-content: center;
}


.bg
{
    background: url(https://images.pexels.com/photos/814499/pexels-photo-814499.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat;
    background-size: cover;
    background-blend-mode: color-dodge;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto auto;
    font-size: 2rem;
    text-align: center;
}

.bg1
{
    
    height: 8rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: sepia(100%);
    margin: 2rem;

}

.bg2
{
    height: 8rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    margin: 2rem;
}

.bg3
{
    height: 8rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: brightness(60%);
    margin: 2rem;
}

.bg4
{
    height: 8rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: grayscale(100%);
    margin: 2rem;
}

.bg5
{

    height: 8rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: hue-rotate(180deg);
    margin: 2rem;
}

.bg6
{
    height: 8rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: invert(80%);
    margin: 2rem;
}

.bg7
{

    height: 8rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: opacity(50%);
    margin: 2rem;
}

.bg8
{

    height: 8rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: saturate(7);
    margin: 2rem;
}

.bg9
{

    height: 8rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: drop-shadow(8px 8px 10px green);
    margin: 2rem;
}

.bg10
{

    height: 8rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 2rem;
}

.bg11
{
    height: 8rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: contrast(180%);
    margin: 2rem;
}


.btn
{
    padding: 12px 23px;
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 1.2rem;
    width: 134px;
    text-align: center;
    margin: 6rem;
}

.btn1
{
    -webkit-box-reflect: left 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4))
}

.btn2
{
    -webkit-box-reflect: right 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4))
}

.btn3
{
    -webkit-box-reflect: above 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4))
}

.btn4
{
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4))
}

.link
{
    font-size: 2rem;
    color: rgba(104, 104, 104, 0.934);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    transition: all 0.4s ease;
}

.link:hover
{
    color: red;
    text-shadow: 0px 1px 40px rgba(173, 19, 19, 0.462);
}


.caretcolor
{
    caret-color: #ff0000;
    font-size: 3rem;
}


img
{
    float: left;
}

.clear
{
    clear: left;
}

.column-count
{
    font-size: 1.2rem;
    column-count: 2;
    column-fill: auto;
    column-gap: 5rem;
    column-rule: 1px solid red;
}

.flex-box
{
    background-color: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
    column-gap: 3rem;
    padding: 2rem;
}



.flex-box > div 
{
   background-color: #ddd;
   width: 10%;
    aspect-ratio: 2;
    padding: 10px;
    text-align: center;
    margin-top: 3rem;
}


.display
{
    color: red;
    font-size: 3rem;
    display: block;
}

.flex
{
    width: 100%;
    height: 300px;
    display: flex;
    column-gap: 3rem;
}


.flx-box 
{
    -ms-flex: 1;
    flex: 1;
}

.flex-container
{
    display: flex;
    flex-wrap: wrap;
    column-gap: 3rem;
    font-size: 40px;
    text-align: center;
}

.left
{
    background-color: #ff0000;
    padding: 10px;
    flex: 30%;
}




.right
{
    background-color: orangered;
    padding: 10px;
    flex: 30%;
}

@media (max-width: 800px) {
    .flex-container
    {
        gap: 3rem;
    }

    .left, .right{
      flex: 100%;
    }
  }



